<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.routediary.repository.RouteRepository">
  <select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM routes WHERE diary_no = #{diary_no}
  </select>
	
  <insert id="insert" parameterType="Route">
		INSERT INTO routes (diary_no, route_no, route_content, kakao_map_id)
		VALUES (#{diaryNo}, 
			   (SELECT NVL(MAX(route_no), 0) + 1
        		FROM routes 
        		WHERE diary_no = #{diaryNo}),
        		#{routeContent}, #{kakaoMapId})
  </insert>
  
  <delete id="delete" parameterType="int">
		DELETE FROM routes WHERE diary_no = #{diaryNo} AND route_no = #{routeNo}
  </delete>
  
  <delete id="deleteAll" parameterType="int">
		DELETE FROM routes WHERE diary_no= #{diaryNo} 
  </delete>

</mapper>
