.board_view {
  width: 100%;
  border-top: 2px solid #000;
}

.diary .title {
  padding: 20px 15px;
  border-bottom: 1px dashed #ddd;
  font-size: 2rem;
}

.diary .info {
  padding: 15px;
  border-bottom: 1px solid #999;
  font-size: 0;
}

.diary .info dl {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.diary .info dl:first-child {
  padding-left: 0;
}

.diary .info dl::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 1px;
  height: 13px;
  background: #ddd;
}

.diary .info dl:first-child::before {
  display: none;
}

.diary .info dl dt,
.board_view .info dl dd {
  display: inline-block;
  font-size: 1.4rem;
}

.diary .info dl dd {
  margin-left: 10px;
  color: #777;
}

.diary .cont {
  padding: 15px;
  border-bottom: 1px solid #000;
  line-height: 160%;
  font-size: 1.4rem;
}

.day h2 {
  position: absolute;
  margin-left: 200px;
}
