.notice-header {
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #ddd;
}
.notice-header:after {
  display: block;
  clear: both;
  content: "";
}
.notice-header .title-wrap {
  padding: 20px 20px 10px 20px;
}
.notice-header .title-wrap .category-info a {
  color: #19068f;
}
.notice-header .title-wrap .notice_title {
  margin-top: 5px;
  font-size: 2em;
  color: #111;
  line-height: 1em;
}
.notice-header .info-wrap {
  margin-top: 10px;
  padding: 10px 20px;
  background: #266fe4;
}
.notice-header .info-wrap:after {
  display: block;
  clear: both;
  content: "";
}
.notice-header .info-wrap .notice-info {
  float: left;
  list-style: none;
}
.notice-header .info-wrap .notice-info:after {
  display: block;
  clear: both;
  content: "";
}
.notice-header .info-wrap .notice-info li {
  margin-right: 15px;
  /* float: left; */
  font-size: 0.875em;
  color: #fff5f0;
}
.notice-header .info-wrap .notice-info li.author {
  margin-right: 40px;
  color: #fff;
  float: left;
  text-align: left;
}
div.article {
  font-size: 30px;
  text-align: center;
}
li.date {
  float: right;
  text-align: right;
}
button.btn-info {
  margin-top: 20px;
  float: right;
  margin-right: 10px;
  /* text-align: center; */
}
div.image {
  text-align: center;
  height: 500px;
}
div.modifyNremove {
  position: relative;
}

.navbar {
  background: #dfe152;
}
.nav-link:hover {
  background: #f4f4f4;
  color: #f97300;
}

.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background: #fff !important;
}
.navbar-collapse {
  justify-content: flex-end;
}

footer {
  position: absolute;
  height: 200px;
  margin-bottom: 0vw;
  width: 100%;
  padding: 0 25px;
  background-color: #282828;
  color: white;
  margin-top: 150px;
}
footer > aside a {
  color: rgb(11, 11, 11);
}
footer > aside > ul {
  list-style-type: none;
  padding-left: 0px;
}
footer > aside > span {
  background-color: #282828;
  height: 100px;
}
