.diary .title {
  margin: 30px;
  padding: 20px 15px;
  border-bottom: 1px dashed #ddd;
  font-size: 2rem;
}

.like_view {
  margin: 30px;
  height: 20px;
}

.diary .info {
  padding: 15px;
  border-bottom: 1px solid #999;
  font-size: 0;
}

.diary .info dl {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.diary .info dl:first-child {
  padding-left: 0;
}

.diary .info dl::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 1px;
  height: 13px;
  background: #ddd;
}

.diary .info dl:first-child::before {
  display: none;
}

.diary .info dl dt,
.board_view .info dl dd {
  display: inline-block;
  font-size: 1.4rem;
}

.diary .info dl dd {
  margin-left: 10px;
  color: #777;
}

.images .image {
  margin: 30px;
}

.routes .route {
  margin: 30px;
  border-style: groove;
}

.hashtag {
  margin: 30px;
}

.comments .comment {
  margin: 30px;
  border-style: groove;
}

.comment_view {
  margin: 30px;
  height: 1px;
}

.return {
  margin: 30px;
  height: 1px;
}

.diary_delete {
  margin: 30px;
}

.navbar {
  background: #dfe152;
}
.nav-link:hover {
  background: #f4f4f4;
  color: #f97300;
}

.navbar-collapse {
  justify-content: flex-end;
}
.navbar-toggler {
  background: #fff !important;
}
.navbar-collapse {
  justify-content: flex-end;
}

footer {
  position: absolute;
  height: 200px;
  margin-bottom: 0vw;
  width: 100%;
  padding: 0 25px;
  background-color: #282828;
  color: white;
}
footer > aside a {
  color: rgb(11, 11, 11);
}
footer > aside > ul {
  list-style-type: none;
  padding-left: 0px;
}
footer > aside > span {
  background-color: #282828;
  height: 100px;
}
